name: Page Deploy

on:
  workflow_run:
    workflows: ["Page Build"]
    types:
      - completed

jobs:
  deploy:
    if: |
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v6
        with:
          name: ${{ var.ARTIFACT_NAME }}
          path: ${{ var.ARTIFACT_PATH }}

      - name: Deploy to GH-Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ${{ var.ARTIFACT_PATH }}
          publish_branch: gh-pages
          cname: ${{ var.CNAME }}
