name: Page Build

on: [push]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    env:
      CNAME: shunk031.me
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all history for .GitInfo and .

      - name: Typo check
        uses: crate-ci/typos@v1.41.0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.136.5" # Make sure the version matches the one in https://github.com/shunk031/shunk031.github.io/blob/main/Makefile#L1
          extended: true

      - name: Build
        run: hugo

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          fail: true
          args: "./public --config .lychee/config.toml"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./public
          publish_branch: gh-pages # deploying branch
          cname: ${{ env.CNAME }}
