name: Page Build

on: [push]

jobs:
  check-typo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Typo check
        uses: crate-ci/typos@v1.42.0

  build-deploy:
    runs-on: ubuntu-latest
    env:
      CNAME: shunk031.me
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all history for .GitInfo and .

      - name: Setup Build Environment
        uses: jdx/mise-action@v2

      - name: Build
        run: hugo

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          fail: true
          args: "./public --config .lychee/config.toml"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./public
          publish_branch: gh-pages # deploying branch
          cname: ${{ env.CNAME }}
